
:root { --neon: #39FF14; --bg-color: #000000; --text-color: #ffffff; --nav-bg: #111111; --header-bg: #000000;}
.light-mode {--bg-color: #ffffff; --text-color: #333333;--neon:  #2eb817;--header-bg: #f4f4f4; --nav-bg: #f4f4f4;}
body { background: var(--bg-color);  color: var(--text-color); min-height: 100vh; display: flex; flex-direction: column; margin: 0; transition: background-color 0.3s, color 0.3s;}
        
header { border-bottom: 4px solid var(--neon); padding: 20px; text-align: center; background: var(--header-bg); }
footer { border-top: 4px solid var(--neon); padding: 20px; text-align: center; margin-top: auto; background: var(--header-bg); }

.wrapper { display: flex; flex-grow: 1; }

nav { background: var(--nav-bg); padding: 15px; flex-shrink: 0; transition: background-color 0.3s; }

@media (min-width: 992px) {
    .wrapper { flex-direction: row; }
    nav { width: 200px; border-right: 2px solid var(--neon); }
    .nav-items-container { display: flex; flex-direction: column; list-style: none; padding: 0; gap: 15px; }
}

@media (max-width: 991px) {
    .wrapper { flex-direction: column; }
    nav { width: 100%; border-bottom: 2px solid var(--neon); box-sizing: border-box;}
    .nav-items-container { display: flex; flex-direction: row; justify-content: space-around; list-style: none; padding: 0; margin: 0; }
    main {
        padding: 20px !important; /* Un margen más pequeño para móvil */
        width: 100%;
        box-sizing: border-box;
    }
}

main { 
    flex-grow: 1; 
    padding: 50px;
    padding-top: 20px; 
}

.main-container {
    max-width: 900px;
    margin: 0 auto;  
}

.nav-link { color: var(--text-color); font-weight: bold; text-transform: uppercase; text-decoration: none; }
.nav-link:hover { color: var(--neon) !important; text-shadow: 0 0 10px var(--neon); }
.nav-link:active { transform: scale(0.8); opacity: 0.8;}
.nav-link.active { color: var(--neon) !important;}
h1, h2 { color: var(--neon); font-weight: 900; text-transform: uppercase; }


button {background: transparent; color: var(--neon); border: 2px solid var(--neon); padding: 10px 20px; font-weight: bold; text-transform: uppercase; cursor: pointer; position: relative; clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0); transition: all 0.3s;}

button:hover {background: var(--neon); color: var(--bg-color); box-shadow: 0 0 15px var(--neon);}

button:active {transform: scale(0.95); filter: brightness(0.8);}